@tailwind base;
@tailwind components;
@tailwind utilities;

body {
 @apply bg-white bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))];
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
}

